/* Preserving Heritage */
h1 {
    font-size: 57px !important;
}
.preserving-heritage-main-bg-image {
    background-image: url('../images/backgrounds/preserving-heritage.png');
}
/* Experts Explain and Credits and Sources */
.experts-and-sources-detail-card-background {
    background-image: url('../images/backgrounds/card-background.png');
}
.experts-explain-and-credits-sources-main-bg-image {
    background-image: url('../images/backgrounds/experts-explain-and-credits.png');
}