@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;0,700;0,900;1,100;1,300;1,500;1,600;1,700;1,900&display=swap');

@font-face {
  font-family: 'CocoGothic_trial';
  src: url(../fonts/CocoGothic_trial/fontseot);
  src: url(../fonts/CocoGothic_trial.eot?#iefix) format('embedded-opentype'),
    url(../fonts/CocoGothic_trial.otf) format('otf'),
    url(../fonts/CocoGothic_trial.ttf) format('truetype'),
    url(../fonts/CocoGothic_trial.woff2) format('woff2'),
    url(../fonts/CocoGothic_trial.svg#CocoGothic_trial) format('svg');
}
@font-face {
  font-family: 'CocoGothic-Bold_trial';
  src: url(../fonts/CocoGothic-Bold_trial.eot);
  src: url(../fonts/CocoGothic-Bold_trial.eot?#iefix)
      format('embedded-opentype'),
    url(../fonts/CocoGothic-Bold_trial.otf) format('otf'),
    url(../fonts/CocoGothic-Bold_trial.ttf) format('truetype'),
    url(../fonts/CocoGothic-Bold_trial.svg#CocoGothic-Bold_trial) format('svg'),
    url(../fonts/CocoGothic-Bold_trial.woff2) format('woff2'),
    url(../fonts/CocoGothic-Bold_trial.woff) format('woff');
}
@font-face {
  font-family: 'CocoGothic-Fat_trial';
  src: url(../fonts/CocoGothic-Fat_trial.eot);
  src: url(../fonts/CocoGothic-Fat_trial.eot?#iefix) format('embedded-opentype'),
    url(../fonts/CocoGothic-Fat_trial.otf) format('otf'),
    url(../fonts/CocoGothic-Fat_trial.ttf) format('ttf'),
    url(../fonts/CocoGothic-Fat_trial.svg#CocoGothic-Fat_trial) format('svg'),
    url(../fonts/CocoGothic-Fat_trial.woff) format('woff'),
    url(../fonts/CocoGothic-Fat_trial.woff2) format('woff2');
}
@font-face {
  font-family: 'CocoGothic-BoldItalic_trial';
  src: url(../fonts/CocoGothic-BoldItalic_trial.eot);
  src: url(../fonts/CocoGothic-BoldItalic_trial.eot?#iefix)
      format('embedded-opentype'),
    url(../fonts/CocoGothic-BoldItalic_trial.otf) format('otf'),
    url(../fonts/CocoGothic-BoldItalic_trial.ttf) format('ttf'),
    url(../fonts/CocoGothic-BoldItalic_trial.svg#CocoGothic-BoldItalic_trial)
      format('svg'),
    url(../fonts/CocoGothic-BoldItalic_trial.woff) format('woff'),
    url(../fonts/CocoGothic-BoldItalic_trial.woff2) format('woff2');
}
@font-face {
  font-family: 'CocoGothic-FatItalic_trial';
  src: url(../fonts/CocoGothic-FatItalic_trial.eot);
  src: url(../fonts/CocoGothic-FatItalic_trial.eot?#iefix)
      format('embedded-opentype'),
    url(../fonts/CocoGothic-FatItalic_trial.otf) format('otf'),
    url(../fonts/CocoGothic-FatItalic_trial.ttf) format('ttf'),
    url(../fonts/CocoGothic-FatItalic_trial.svg#CocoGothic-FatItalic_trial)
      format('svg'),
    url(../fonts/CocoGothic-FatItalic_trial.woff) format('woff'),
    url(../fonts/CocoGothic-FatItalic_trial.woff2) format('woff2');
}
@font-face {
  font-family: 'CocoGothic-Heavy_trial';
  src: url(../fonts/CocoGothic-Heavy_trial.eot);
  src: url(../fonts/CocoGothic-Heavy_trial.eot?#iefix)
      format('embedded-opentype'),
    url(../fonts/CocoGothic-Heavy_trial.otf) format('otf'),
    url(../fonts/CocoGothic-Heavy_trial.ttf) format('ttf'),
    url(../fonts/CocoGothic-Heavy_trial.svg#CocoGothic-Heavy_trial)
      format('svg'),
    url(../fonts/CocoGothic-Heavy_trial.woff) format('woff'),
    url(../fonts/CocoGothic-Heavy_trial.woff2) format('woff2');
}
@font-face {
  font-family: 'CocoGothic-HeavyItalic_trial';
  src: url(../fonts/CocoGothic-HeavyItalic_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'CocoGothic-Italic_trial';
  src: url(../fonts/CocoGothic-Italic_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'CocoGothic-Light_trial';
  src: url(../fonts/CocoGothic-Light_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'CocoGothic-LightItalic_trial';
  src: url(../fonts/CocoGothic-LightItalic_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'CocoGothic-UltraLight_trial';
  src: url(../fonts/CocoGothic-UltraLight_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'CocoGothic-UltraLightItalic_trial';
  src: url(../fonts/CocoGothic-UltraLightItalic_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'catchy-mager';
  src: url(../fonts/catchy-mager.eot);
  src: url(../fonts/catchy-mager.eot?#iefix) format('embedded-opentype'),
    url(../fonts/catchy-mager.svg#catchy-mager) format('svg'),
    url(../fonts/catchy-mager.otf) format('otf'),
    url(../fonts/catchy-mager.ttf) format('truetype'),
    url(../fonts/catchy-mager.woff) format('woff'),
    url(../fonts/catchy-mager.woff2) format('woff2');
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    color: #000;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 1.6;
  }
}
html {
  scroll-behavior: smooth;
}
/* body {
  color: #000;
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 1.6;
} */
@layer components {
  h1 {
    @apply lg:text-[106px] text-[38px] text-white font-medium font-catchy leading-none;
  }
  h2 {
    @apply lg:text-[56px] text-[32px] text-white font-medium font-catchy leading-[1.2];
  }
  h3 {
    @apply lg:text-[42px] text-[26px] text-white font-medium font-catchy leading-[1.2];
  }
  h4 {
    @apply lg:text-[36px] text-[22px] text-white font-medium font-catchy leading-[1.2];
  }
  h5 {
    @apply lg:text-[32px] text-[20px] text-white font-medium font-catchy leading-[1.2];
  }
  h6 {
    @apply lg:text-[28px] text-[18px] text-white font-medium font-catchy leading-[1.2];
  }
}
/* h1 {
  font-family: 'catchy-mager';
  font-size: 106px;
  line-height: 1.2;
  font-weight: bold;
}
h2 {
  font-family: 'catchy-mager';
  font-size: 50px;
  line-height: 1.5;
}
h3 {
  font-family: 'catchy-mager';
  font-size: 42px;
  line-height: 1.2;
}
h4 {
  font-family: 'catchy-mager';
  font-size: 20px;
  line-height: 1.2;
}
h5 {
  font-family: 'catchy-mager';
  font-size: 18px;
  line-height: 1.2;
}
h6 {
  font-family: 'catchy-mager';
  font-size: 16px;
  line-height: 1.7;
} */
/* Main Menu */
/* Custom styles for hover dropdown */
.navbar-nav .nav-item:hover .dropdown-menu {
  display: block; /* Show dropdown on hover */
}
.dropdown-menu {
  display: none; /* Hide dropdown by default */
  position: absolute; /* Position the dropdown */
}
.group:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 10;
}
.lead {
  font-size: 1.5rem;
  font-family: 'Sans-serif';
}
/* About Us Section Homepage */
section.about-us:after {
  content: '';
  position: absolute;
  display: block;
  width: 416px;
  height: 500px;
  bottom: 0;
  left: -2rem;
  background-image: url(./assets/images/line-left.png);
  z-index: 9999;
  background-repeat: no-repeat;
  background-size: cover;
}
section.about-us:before {
  content: '';
  position: absolute;
  display: block;
  width: 165px;
  height: 270px;
  top: 4rem;
  right: 0;
  background-image: url(./assets/images/line-right.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.moon-face:after {
  content: '';
  position: absolute;
  display: block;
  width: 750px;
  height: 750px;
  top: 0;
  right: -18rem;
  background-image: url('/assets/images/Phases-of-the-moon.gif'); /* Adjust path as needed */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999; /* Ensure it appears behind the content */
}
@media screen and (max-width: 1440px) {
  .moon-face:after {
    width: 650px;
    height: 650px;
  }
}
@media screen and (max-width: 768px) {
  .moon-face:after {
    width: 320px;
    height: 320px;
    right: -9rem;
    top: 6rem;
  }
}

.telescope-section:after {
  content: '';
  position: absolute;
  display: block;
  width: 160px;
  height: 137px;
  bottom: 12rem;
  right: 12rem;
  background-image: url(/assets/images/telescope.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1440px) {
  section.about-us:after {
    width: 210px;
    height: 245px;
    bottom: 7rem;
    left: -20px;
  }
  section.about-us:before {
    width: 130px;
    height: 210px;
    top: 6rem;
    right: 0;
  }
  .telescope-section:after {
    width: 120px;
    height: 100px;
    bottom: 6rem;
    right: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .telescope-section:after {
    right: 1rem;
  }
}
@media screen and (max-width: 767px) {
  section.about-us:after {
    width: 130px;
    height: 150px;
    top: 22rem;
    left: -20px;
  }
  .telescope-section:after {
    right: 10rem;
    width: 120px;
    height: 100px;
    bottom: 0;
  }
  /*history home page*/
  .history-section-wrapper .img-wrap svg {
    height: 300px;
  }
  .wrapper .history-section-wrapper {
    padding: 1em 0;
  }
  .history-section-wrapper .history-img-wrap,
  .history-section-wrapper .container {
    min-height: inherit;
  }
  .history-section-wrapper .history-img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .history-img-wrap .link-item svg {
    width: 150px;
    height: 150px;
  }
  .history-img-wrap .line svg {
    height: 150px;
  }  
  .history-img-wrap .line3 svg {
    height: 100px;
  } 
  .history-img-wrap .line4 svg { 
    width: 150px;
  }  
  .history-img-wrap .link2 svg {
    width: 200px;
    height: 200px;
  }
  .history-img-wrap .link1 {
    top: 2%;
    left: 0;
    z-index: 4;
  }
  .history-img-wrap .line1 {
    top: 21%;
    left: -12%;
    transform: rotate(28deg);
  }
  .history-img-wrap .link2 {
    top: 3%;
    right: 0;
    z-index: 2;
  }
  .history-img-wrap .line2 {
    top: 20%;
    right: -4%;
  }
  .history-img-wrap .link3 {
    bottom: 2%;
    left: 0;
    z-index: 5;
  }
  .history-img-wrap .line3 {
    bottom: 20%;
    left: -17%;
    transform: rotate(-45deg);
  }
  .history-img-wrap .link4 {
    bottom: 5%;
    right: 0;
    z-index: 6;
  }
  .history-img-wrap .line4 {
    bottom: 12%;
    right: 13%;
    transform: rotate(18deg);
  }
}
/*timeline Event*/
.timeline-events-wrappper {
  color: #fff;
  z-index: 10;
}
.timeline-events-wrappper h2 {
  padding: 2rem 0 1rem;
}
.timeline-events-wrappper .bottom-image {
  z-index: -1;
}
.history-section-wrapper .img-wrap svg,
.timeline-events-wrappper .img-wrap svg {
  margin: auto;
}
.timeline-events--content .starline .jm-none,
.timeline-events--content .starline.jm-none,
.timeline-events--content .jm-none {
  display: none;
}
.timeline-events--content .timeline-text .timeline-yr {
  font-size: 40px;
  font-weight: bold;
}
.timeline-events--content .timeline-text .timeline-yr-text {
  font-size: 1rem;
}
.timeline-events--content .timeline-text {
  opacity: 0;
  animation: text-appear 10s ease forwards;
  animation-delay: calc(0.5s * var(--i));
}
.starline {
  display: inline-block;
  position: absolute;
  right: 40%;
  transform: rotateY(180deg);
  margin-top: 10px;
}
.starline .star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 15px solid transparent;
  transform: rotate(35deg);
}
.starline .star:before {
  border-bottom: 12px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -6px;
  left: -10px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.starline .star:after {
  position: absolute;
  display: block;
  top: 1px;
  left: -16px;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 15px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
.starline .line-wrap {
  position: relative;
  left: 13px;
  top: -8px;
  height: 60px;
  width: 60px;
}
.starline .h-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.starline .v-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
}
.story-of-jantar-manatr {
  padding-top: 50px;
}
.timeline-event-mobile {
  display: none;
}
.timeline-events-wrappper {
  display: block;
}
/*History section*/
.history-section-wrapper {
  padding: 3em 0;
  color: #fff;
  min-height: 650px;
}
.history-img-wrap .line,
.history-img-wrap .link-item {
  position: absolute;
}

/* mobile style for timeline event and history*/
@media (max-width: 991px) {
  .timeline-events--content .timeline-text:first-child {
    margin-top: 0 !important;
  }
}
@media (max-width: 1300px) {
  .timeline-events--content .timeline-text:nth-child(odd) {
    float: left;
    margin-top: -50px;
  }
  .timeline-events--content .timeline-text:nth-child(even) {
    float: right;
    max-width: 75%;
    width: 100%;
    margin-top: -52px;
    display: flex;
    flex-direction: column;
  }
  .timeline-events--content .timeline-text:nth-child(odd) .starline {
    transform: rotate(0deg);
  }
  .timeline-events--content .starline {
    position: relative;
    right: 0;
    margin-top: 5px;
    align-self: center;
  }
  .timeline-events--content .starline .jm-none,
  .timeline-events--content .starline.jm-none,
  .timeline-events--content .jm-none {
    display: block;
  }
  .goto-next {
    background: #fff;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  .timeline-event-mobile {
    display: block;
  }
  .timeline-event-mobile h2 {
    padding: 1em 0;
  }
  .timeline-events-wrappper {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .timeline-events--content {
    max-width: 80%;
    margin: auto;
  }
  .timeline-events--content .timeline-text:nth-child(odd) .starline {
    margin-left: 3rem;
  }
  .history-img-wrap .line1 svg,
  .history-img-wrap .line2 svg,
  .history-img-wrap .line3 svg {
    width: 200px;
  }
}  
@media (min-width: 1000px) and (max-width: 1280px) {
  .timeline-events--content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .timeline-events--content .timeline-text:nth-child(odd) {
    margin-top: -40px;
    max-width: 48%;
    display: flex;
    flex-direction: column;
  }
  .timeline-events--content .timeline-text:nth-child(even) {
    margin-top: 120px;
    max-width: 48%;
  }
  .timeline-events--content .timeline-text:nth-child(odd) .starline {
    margin-left: 0;
  }
  .timeline-events--content .timeline-text:nth-child(even) .starline {
    align-self: start;
  }
  .timeline-events--content .timeline-text .line-wrap {
    width: 150px;
    height: 80px;
  }
  .timeline-events--content .timeline-text.timeline12 {
    margin-top: 170px;
  }
} 
@media (min-width: 1301px) {
  .timeline-events--content .timeline-text {
    position: absolute;
    display: inline-block;
    max-width: 20%;
  }
  .timeline-events--content .timeline1 {
    top: 0;
    left: 18%;
  }
  .timeline-events--content .timeline2 {
    top: 58%;
    left: 10%;
    max-width: 14%;
  }  
  .timeline-events--content .timeline8 .starline,
  .timeline-events--content .timeline2 .starline {
    transform: rotateY(0deg);
    left: 0;
    right: unset;
  }  
  .timeline-events--content .timeline8 .line-wrap,
  .timeline-events--content .timeline3 .line-wrap,
  .timeline-events--content .timeline2 .line-wrap {
    width: 100px;
  }
  .timeline-events--content .timeline3 {
    left: 18%;
    margin-top: 1.8rem;
  }
  .timeline-events--content .timeline3 .starline {
    top: 25%;
    right: -38%;
  } 
  .timeline-events--content .timeline4 {
    left: 45.55%;
    margin-top: 7.5rem;
    max-width: 14%;
  }  
  .timeline-events--content .timeline4 .starline {
    top: -54%;
    right: -5%;
  }  
  .timeline-events--content .timeline5 {
    left: 66%;
    max-width: 17%;
    margin-top: 2rem;
  } 
  .timeline-events--content .timeline5 .starline {
    top: -33%;
    right: 20%;
  }  
  .timeline-events--content .timeline5 .line-wrap {
    height: 40px;
    width: 100px;
  }  
  .timeline-events--content .timeline6 {
    max-width: 18%;
    right: 75px;
    top: 54%;
  }
  .timeline-events--content .timeline6 .starline {
    top: -70px;
    transform: rotateY(0deg);
    right: unset;
    left: -87px;
  }
  .timeline-events--content .timeline7 {
    right: 15%;
    top: 0;
    max-width: 15%;
  }
  .timeline-events--content .timeline8 {
    bottom: -65%;
    max-width: 14%;
    left: 0;
    right: unset;
  }
  .timeline-events--content .timeline9 {
    bottom: -118%;
    left: 9%;
    max-width: 15%;
  }
  .timeline9 .starline.signle-starline {
    top: -25px;
    right: -50%;
  }  
  .timeline9 .starline.signle-starline .star {
    left: -2px;
    top: 160px;
  }  
  .timeline9 .starline.signle-starline .line-wrap {
    height: 150px;
  }  
  .timeline-events--content .timeline10 {
    bottom: -114%;
    left: 36%;
    max-width: 14%;
  }
  .timeline10 .starline.signle-starline .line-wrap {
    height: 110px;
  }  
  .timeline10 .starline.signle-starline {
    bottom: -14%;
    right: -36%;
  }  
  .timeline-events--content .timeline11 {
    left: unset;
    right: 20%;
    bottom: -153%;
  }  
  .timeline-events--content .timeline11 .starline {
    top: -14%;
    right: -42%;
  }  
  .timeline-events--content .timeline11 .starline .line-wrap {
    width: 250px;
    height: 40px;
  }
  .timeline-events--content .timeline11 .starline .star {  
    top: 42px;
  }  
  .timeline-events--content .timeline12 {
    right: 0;
    width: 14%;
    bottom: -83%;
  }    
  .timeline-events--content .timeline13 {
    left: 32%;
    bottom: -150%;
    max-width: 13%;
  } 
  .timeline-events--content .timeline13 .starline {
    top: 0;
    transform: rotate(180deg);
    right: -45%;
  }  
  .timeline-events--content .timeline13 .starline .star {
    top: 45px;
    transform: rotate(70deg);
  }  
  .timeline-events--content .timeline13 .line-wrap {
    width: 150px;
    height: 40px;
  }  
  .timeline-events--content .timeline14 {
    left: 48%;
    bottom: -160%;
  } 
  .starline.signle-starline {
    transform: rotate(90deg);
    margin-top: 0;
  }
  .starline.signle-starline .star {
    transform: rotate(90deg);
  }
  .starline.signle-starline .line-wrap {
    height: 150px;
    width: auto;
  }
}
@media (min-width: 1301px) and (max-width: 1500px) {
  .timeline-events-wrappper {
    min-height: 800px;
  }
  .timeline-events-wrappper .container {
    min-height: inherit;
  }
  .timeline-events--content .timeline8 .line-wrap,
  .timeline-events--content .timeline3 .line-wrap,
  .timeline-events--content .timeline2 .line-wrap {
    width: 70px;
  }
  .timeline4 .starline.signle-starline .line-wrap {
    height: 140px;
  }
  .timeline-events--content .timeline5 .line-wrap {
    height: 30px;
    width: 80px;
  }
  .timeline-events--content .timeline5 .starline {
    top: -22%;
  }
  .timeline-events--content .timeline7 {
    right: 17%;
  }
  .timeline-events--content .timeline11 .starline .line-wrap {
    width: 180px;  
  }
  .timeline-events--content .timeline12 {
    bottom: -65%;
  }
  .timeline9 .starline.signle-starline .star {
    top: 130px;
  }
  .timeline9 .starline.signle-starline .line-wrap {
    height: 130px;
  }
  .history-img-wrap .link1 {
    top: -6%;
    left: 10%;
  }
  .history-img-wrap .line1 {
    top: 35%;
    left: 24%;
  }
  .history-img-wrap .link2 {
    right: 10.5%;
    top: -17%;
  }
  .history-img-wrap .line2 {
    top: 19%;
    right: 29%;
  }
  .history-img-wrap .link3 {
    left: 12%;
    bottom: -25%;
  }
  .history-img-wrap .line3 {
    left: 29%;
    bottom: -25%;
  }
  .history-img-wrap .line4 {
    bottom: -5%;
    right: 36%;
  }
  .history-img-wrap .link4 {
    right: 17%;
    bottom: -22%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .history-img-wrap .link-item svg {
    width: 200px;
    height: 200px;
  }
  .history-img-wrap .link2 svg {
    width: 250px;
    height: 250px;
  }
  .history-img-wrap .link1 {
    top: 7%;
    left: 0;
  }
  .history-img-wrap .line1 {
    top: 36%;
    left: 15%;
  }
  .history-img-wrap .link2 {
    top: -10px;
    right: 0;
    z-index: 2;
  }
  .history-img-wrap .line2 {
    top: 23%;
    right: 18%;
  }
  .history-img-wrap .link3 {
    bottom: -20%;
    left: 3%;
  }
  .history-img-wrap .line3 {
    left: 28%;
    bottom: -25%;
  }
  .history-img-wrap .line4 {
    bottom: -5%;
    right: 27%;
  }
  .history-img-wrap .link4 {
    bottom: -20%;
    right: 1%;
  }
} 
@media (min-width: 992px) and (max-width: 1200px) {
  .history-img-wrap .link1 {
    top: 0;
    left: 6%;
  }
  .history-img-wrap .line1 {
    top: 35%;
    left: 24%;
  }
  .history-img-wrap .link2 {
    right: 2.5%;
    top: -8%;
  }  
  .history-img-wrap .line2 {
    top: 23%;
    right: 26%;
  }
  .history-img-wrap .link3 {
    left: 10%;
    bottom: -25%;
  }
  .history-img-wrap .line3 {
    left: 33%;
    bottom: -25%;
  }
  .history-img-wrap .link4 {
    right: 10%;
    bottom: -28%;
  }
  .history-img-wrap .line4 {
    bottom: -5%;
    right: 33%;
  }
}
@media (min-width: 1200px) {
  .history-img-wrap .link1 {
    top: 0;
    left: 15%;
  }
  .history-img-wrap .line1 {
    top: 35%;
    left: 29%;
  }
  .history-img-wrap .link2 {
    right: 11.5%;
    top: -14%;
    z-index: 2;
  }
  .history-img-wrap .line2 {
    top: 21%;
    right: 30%;
  }
  .history-img-wrap .link3 {
    left: 20%;
    bottom: -25%;
  }
  .history-img-wrap .line3 {
    left: 37%;
    bottom: -25%;
  }
  .history-img-wrap .line4 {
    bottom: -5%;
    right: 36%;
  }
  .history-img-wrap .link4 {
    right: 17%;
    bottom: -22%;
  }
}
@media (min-width: 1501px) {
  .history-img-wrap .link1 {
    top: -9%;
    left: 18%;
    z-index: 2;
  }
  .history-img-wrap .line1 {
    top: 32%;
    left: 29%;
    z-index: 1;
  }
  .history-img-wrap .link2 {
    right: 14.5%;
    top: -18%;
  }
  .history-img-wrap .line2 {
    top: 16%;
    right: 30%;
  }
  .history-img-wrap .link3 {
    left: 20%;
    bottom: -25%;
  }
  .history-img-wrap .line3 {
    left: 33%;
    bottom: -28%;
  }
  .history-img-wrap .link4 {
    right: 22%;
    bottom: -25%;
  }
  .history-img-wrap .line4 {
    bottom: -5%;
    right: 38%;
  }
  .history-img-wrap .link-item:hover {
    animation: zoomin 5s ease-in infinite;
    transition: all .2s ease;
  }
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.08);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.08);}
  100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/**flipbook**/
.flipbook-wrap {
  background: rgba(255, 255, 255, .7);
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'catchy-mager';
  overflow: hidden;
}
.flipbook-wrap a {
  position: relative;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}
.flipbook-wrap a:before {
  position: absolute;
  top: 200%;
  content: attr(title);
  color: #333;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.flipbook-wrap:hover a {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}  
