@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CocoGothic_trial';
  src: url(../fonts/CocoGothic_trial/fontseot);
  src: url(../fonts/CocoGothic_trial.eot?#iefix) format('embedded-opentype'),
    url(../fonts/CocoGothic_trial.otf) format('otf'),
    url(../fonts/CocoGothic_trial.ttf) format('truetype'),
    url(../fonts/CocoGothic_trial.woff2) format('woff2'),
    url(../fonts/CocoGothic_trial.svg#CocoGothic_trial) format('svg');
}
@font-face {
  font-family: 'CocoGothic-Bold_trial';
  src: url(../fonts/CocoGothic-Bold_trial.eot);
  src: url(../fonts/CocoGothic-Bold_trial.eot?#iefix)
      format('embedded-opentype'),
    url(../fonts/CocoGothic-Bold_trial.otf) format('otf'),
    url(../fonts/CocoGothic-Bold_trial.ttf) format('truetype'),
    url(../fonts/CocoGothic-Bold_trial.svg#CocoGothic-Bold_trial) format('svg'),
    url(../fonts/CocoGothic-Bold_trial.woff2) format('woff2'),
    url(../fonts/CocoGothic-Bold_trial.woff) format('woff');
}
@font-face {
  font-family: 'CocoGothic-Fat_trial';
  src: url(../fonts/CocoGothic-Fat_trial.eot);
  src: url(../fonts/CocoGothic-Fat_trial.eot?#iefix) format('embedded-opentype'),
    url(../fonts/CocoGothic-Fat_trial.otf) format('otf'),
    url(../fonts/CocoGothic-Fat_trial.ttf) format('ttf'),
    url(../fonts/CocoGothic-Fat_trial.svg#CocoGothic-Fat_trial) format('svg'),
    url(../fonts/CocoGothic-Fat_trial.woff) format('woff'),
    url(../fonts/CocoGothic-Fat_trial.woff2) format('woff2');
}
@font-face {
  font-family: 'CocoGothic-BoldItalic_trial';
  src: url(../fonts/CocoGothic-BoldItalic_trial.eot);
  src: url(../fonts/CocoGothic-BoldItalic_trial.eot?#iefix)
      format('embedded-opentype'),
    url(../fonts/CocoGothic-BoldItalic_trial.otf) format('otf'),
    url(../fonts/CocoGothic-BoldItalic_trial.ttf) format('ttf'),
    url(../fonts/CocoGothic-BoldItalic_trial.svg#CocoGothic-BoldItalic_trial)
      format('svg'),
    url(../fonts/CocoGothic-BoldItalic_trial.woff) format('woff'),
    url(../fonts/CocoGothic-BoldItalic_trial.woff2) format('woff2');
}
@font-face {
  font-family: 'CocoGothic-FatItalic_trial';
  src: url(../fonts/CocoGothic-FatItalic_trial.eot);
  src: url(../fonts/CocoGothic-FatItalic_trial.eot?#iefix)
      format('embedded-opentype'),
    url(../fonts/CocoGothic-FatItalic_trial.otf) format('otf'),
    url(../fonts/CocoGothic-FatItalic_trial.ttf) format('ttf'),
    url(../fonts/CocoGothic-FatItalic_trial.svg#CocoGothic-FatItalic_trial)
      format('svg'),
    url(../fonts/CocoGothic-FatItalic_trial.woff) format('woff'),
    url(../fonts/CocoGothic-FatItalic_trial.woff2) format('woff2');
}
@font-face {
  font-family: 'CocoGothic-Heavy_trial';
  src: url(../fonts/CocoGothic-Heavy_trial.eot);
  src: url(../fonts/CocoGothic-Heavy_trial.eot?#iefix)
      format('embedded-opentype'),
    url(../fonts/CocoGothic-Heavy_trial.otf) format('otf'),
    url(../fonts/CocoGothic-Heavy_trial.ttf) format('ttf'),
    url(../fonts/CocoGothic-Heavy_trial.svg#CocoGothic-Heavy_trial)
      format('svg'),
    url(../fonts/CocoGothic-Heavy_trial.woff) format('woff'),
    url(../fonts/CocoGothic-Heavy_trial.woff2) format('woff2');
}
@font-face {
  font-family: 'CocoGothic-HeavyItalic_trial';
  src: url(../fonts/CocoGothic-HeavyItalic_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'CocoGothic-Italic_trial';
  src: url(../fonts/CocoGothic-Italic_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'CocoGothic-Light_trial';
  src: url(../fonts/CocoGothic-Light_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'CocoGothic-LightItalic_trial';
  src: url(../fonts/CocoGothic-LightItalic_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'CocoGothic-UltraLight_trial';
  src: url(../fonts/CocoGothic-UltraLight_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'CocoGothic-UltraLightItalic_trial';
  src: url(../fonts/CocoGothic-UltraLightItalic_trial.ttf) format('ttf');
}
@font-face {
  font-family: 'catchy-mager';
  src: url(../fonts/catchy-mager.eot);
  src: url(../fonts/catchy-mager.eot?#iefix) format('embedded-opentype'),
    url(../fonts/catchy-mager.svg#catchy-mager) format('svg'),
    url(../fonts/catchy-mager.otf) format('otf'),
    url(../fonts/catchy-mager.ttf) format('truetype'),
    url(../fonts/catchy-mager.woff) format('woff'),
    url(../fonts/catchy-mager.woff2) format('woff2');
}

.body {
  color: #000;
  font-family: 'CocoGothic_trial';
  font-size: 20px;
  line-height: 22px;
}
h1 {
  font-family: 'catchy-mager';
  font-size: 106px;
  line-height: 1.2;
  font-weight: bold;
}
h2 {
  font-family: 'catchy-mager';
  font-size: 50px;
  line-height: 1.5;
}
h3 {
  font-family: 'catchy-mager';
  font-size: 42px;
  line-height: 1.2;
}
h4 {
  font-family: 'catchy-mager';
  font-size: 20px;
  line-height: 1.2;
}
h5 {
  font-family: 'catchy-mager';
  font-size: 18px;
  line-height: 1.2;
}
h6 {
  font-family: 'catchy-mager';
  font-size: 16px;
  line-height: 1.7;
}
/* Main Menu */
/* Custom styles for hover dropdown */
.navbar-nav .nav-item:hover .dropdown-menu {
  display: block; /* Show dropdown on hover */
}
.dropdown-menu {
  display: none; /* Hide dropdown by default */
  position: absolute; /* Position the dropdown */
}
.group:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 10;
}
.lead {
  font-size: 1.5rem;
  font-family: 'Sans-serif';
}
/* About Us Section Homepage */
section.about-us:after {
  content: '';
  position: absolute;
  display: block;
  width: 416px;
  height: 500px;
  bottom: 0;
  left: -2rem;
  background-image: url(/assets/images/line-left.png);
  z-index: 9999;
  background-repeat: no-repeat;
  background-size: cover;
}
section.about-us:before {
  content: '';
  position: absolute;
  display: block;
  width: 165px;
  height: 270px;
  top: 4rem;
  right: 0;
  background-image: url(/assets/images/line-right.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.telescope-section:after {
  content: '';
  position: absolute;
  display: block;
  width: 160px;
  height: 137px;
  bottom: 12rem;
  right: 12rem;
  background-image: url(/assets/images/telescope.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1440px) {
  section.about-us:after {
    width: 210px;
    height: 245px;
    bottom: 7rem;
    left: -20px;
  }
  section.about-us:before {
    width: 130px;
    height: 210px;
    top: 6rem;
    right: 0;
  }
  .telescope-section:after {
    width: 120px;
    height: 100px;
    bottom: 6rem;
    right: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .telescope-section:after {
    right: 1rem;
  }
}
@media screen and (max-width: 767px) {
  section.about-us:after {
    width: 130px;
    height: 150px;
    top: 22rem;
    left: -20px;
  }
  .telescope-section:after {
    right: 10rem;
    width: 120px;
    height: 100px;
    bottom: 0;
  }
}
/*timeline Event*/
.timeline-events-wrappper {
  color: #fff;
  z-index: 10;
  min-height: 1000px;
}
.timeline-events-wrappper h2 {
  padding: 2rem 0 1rem;
}  
.timeline-events-wrappper .bottom-image {
  max-height: 60vh;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}
.timeline-events-wrappper .img-wrap svg {
  margin: auto;
}
.timeline-events--content .timeline-text {
  position: absolute;
  display: inline-block;
  max-width: 20%;
}
.timeline-events--content .timeline1 {
  top: 0;
  left: 18%;
}
.timeline-events--content .timeline2 {
  top: 58%;
  left: 10%;
  max-width: 15%;
}  
.timeline-events--content .timeline2 .starline {
  transform: rotateY(0deg);
  left: 0;
  right: unset;
}  
.timeline-events--content .timeline3 .line-wrap,
.timeline-events--content .timeline2 .line-wrap {
  width: 100px;
}
.timeline-events--content .timeline3 {
  left: 18%;
  margin-top: 1.8rem;
}
.timeline-events--content .timeline3 .starline {
  top: 25%;
  right: -38%;
} 
.timeline-events--content .timeline4 {
  left: 45.55%;
  margin-top: 7.5rem;
  max-width: 14%;
}  
.timeline-events--content .timeline4 .starline {
  top: -58.25%;
  right: -18%;
}  
.timeline-events--content .timeline5 {
  left: 69%;
  max-width: 18%;
  margin-top: 2rem;
} 
.timeline-events--content .timeline5 .starline {
  top: -28%;
}  
.timeline-events--content .timeline5 .line-wrap {
  height: 40px;
}  
.timeline-events--content .timeline6 {
  max-width: 18%;
  right: 75px;
  top: 54%;
}
.timeline-events--content .timeline6 .starline {
  top: -70px;
  transform: rotateY(360deg);
  right: unset;
  left: -87px;
}
.timeline-events--content .timeline7 {
  right: 15%;
  top: 0;
  max-width: 15%;
}

.timeline-events--content .timeline-text .timeline-yr {
  font-size: 40px;
  font-weight: bold;
}
.timeline-events--content .timeline-text .timeline-yr-text {
  font-size: 1.15rem;
  font-family: CocoGothic_trial;
}
.starline {
  display: inline-block;
  position: absolute;
  right: 40%;
  transform: rotateY(180deg);
  margin-top: 10px;
}
.starline .star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 15px solid transparent;
  transform: rotate(35deg);
}
.starline .star:before {
  border-bottom: 12px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -6px;
  left: -10px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.starline .star:after {
  position: absolute;
  display: block;
  top: 1px;
  left: -16px;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 15px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
.starline .line-wrap {
  position: relative;
  left: 13px;
  top: -5px;
  height: 60px;
  width: 60px;
}

.starline .h-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.starline .v-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
}
.starline.signle-starline {
  transform: rotate(90deg);
  margin-top: 0;
}
.starline.signle-starline .star {
  transform: rotate(90deg);
}
.starline.signle-starline .line-wrap {
  height: 200px;
  width: auto;
}